// 사이트 레이아웃 관련 요소
// wrap, header, footer, aside ..etc

// 사이트 레이아웃 관련 요소
.bg-gray {
  background-color: $gray-5;
}

// grid layout
.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;
  @include tablet {
    padding: 0 $p-tablet;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: $gray-90;
  &.type1 {
    background-color: $white;
    a {
      &:focus {
        color: $gray-90;
      }
    }
  }
  a {
    &:not(:focus) {
      @include sr-only;
    }
    &:focus {
      @include flex-layout($ai: center, $jc: center);
      @include focus($color: $white, $alpha: 0.9);
      font-size: 1.5rem;
      color: $white;
      width: 100%;
      height: 3.2rem;
      margin: 0 auto;
      text-align: center;
    }
  }
  &.type1 {
    background-color: $white;
    a {
      &:focus {
        color: $gray-90;
      }
    }
  }
}

// section layout
.sec-g {
  padding: 10vw 0;
  overflow: hidden;
  &__tit {
    font-size: 4.8rem;
    padding-bottom: 2.34375vw;
  }
  &__more {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 17px;
    right: $p-mobile;
    font-size: 2rem;
    @include mobileMore {
      right: $p-tablet;
    }
    &::after {
      display: flex;
      content: '\f061';
      width: 40px;
      height: 40px;
      background-color: $gray-20;
      border-radius: 50%;
      @include lineAwesome;
      justify-content: center;
      align-items: center;
    }
  }
}

// header
#header {
  position: relative;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  z-index: 1000;
  &.active {
    &::before {
      height: 236px;
    }
    .gnb__depth2 {
      height: 236px;
      padding: 30px 0;
    }
  }
  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 100%;
    // height: 236px;
    height: 0;
    background: $gray-5;
    transition: all 0.3s;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    @include tabletMore {
      height: auto;
    }
  }
  #logo {
    transform: scale(0.8);
    transform-origin: 0 50%;
    @include tabletMore {
      transform: none;
    }
    a {
      display: block;
      width: 200px;
      height: 35px;
      background: url(../../../resources/images/pattern/common/head_logo.png) no-repeat 0 0 / contain;
    }
    span {
      @include sr-only;
    }
  }
  #nav-all {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: $p-mobile;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    &.active {
      display: block;
      left: 0;
    }
  }
}

#gnb {
  display: none;
  position: relative;
  @include tabletMore {
    display: block;
  }
  .gnb__depth1 {
    display: flex;
    font-size: 2rem;
    > li {
      position: relative;
      &:hover {
        > a {
          > span {
            color: $primary;
            &::after {
              width: 100%;
            }
          }
        }
      }
      &:first-child {
        .gnb__depth2::before {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $gray-20;
        }
      }
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 102px;
        padding: 0 40px;
        font-size: $font-bold;
        span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-weight: $font-bold;
          &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 5px;
            background-color: $primary;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  .gnb__depth2 {
    position: absolute;
    top: 102px;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    // padding: 30px 0;
    padding: 0;
    background-color: $gray-5;
    transition: all 0.3s;
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $gray-20;
    }
    a {
      display: block;
      padding: 7px 0;
      text-align: center;
      color: $gray-70;
      &:hover {
        color: $gray-90;
        font-weight: $font-bold;
      }
    }
  }
}

.util {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  .lang {
    display: none;
    position: relative;
    @include tabletMore {
      display: block;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 57px;
      margin-right: 10px;
      font-size: 2rem;
      text-transform: uppercase;
      &::after {
        content: '\f107';
        @include lineAwesome;
        font-size: 2rem;
        margin-left: 5px;
      }
    }
    &__list {
      // display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 90%;
      padding: 3px 0;
      background-color: $white;
      border: 1px solid $gray-40;
      li {
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        color: $gray-50;
        &:first-child {
          border-bottom: 1px solid $gray-40;
        }
      }
    }
  }
  .search {
    transform: scaleX(-1);
    &::before {
      display: block;
      content: '\f002';
      @include lineAwesome;
      font-size: 3.8rem;
    }
  }
  .all-menu {
    &::before {
      display: block;
      content: '\f0c9';
      @include lineAwesome;
      font-size: 3.8rem;
    }
  }
}
